.login {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: wheat;
}

.loginDesc{
   font-size: 30px;
   font-family: 'Dancing Script', cursive; 
   color: wheat;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: rgb(255, 255, 0);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    background-color: wheat;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: black;
}

.loginRegisterButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(250, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

