.mensenger {
    background-color: black;
    height: calc(100vh - 50px);
    display: flex;

}

.chatMenu {
    flex: 3.5;
}

.chatBox {
    flex: 5.5;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}


.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}


.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
    background-color: wheat;
    border-radius: 5px;
}


.chatMessageInput:focus{
    border: none;
}


.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: yellow;
}


.chatOnline {
    flex: 3;
}


.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}



.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: black;
    border-bottom: 1px solid gray;
    color: wheat;
}

.chatMenuInput:focus{
    border: none;
}

.noConversation{
    position: absolute;
    top: 30%;
    color: rgb(51, 51, 47);
    font-size: 50px;
    cursor: default;
    text-align: center;
}

.shareIcon{
    font-size: 18px;
    margin: 3px;
}
