.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.chatOnlineImgContanier{
    position: relative;
    margin-right: 10px;
}

.chatOnlineImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.chatOnlineBadge{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(146, 231, 19);
    top: 10px;
    right: 0;
    border: 1px solid wheat;
}

.chatOnlineUsername{
    color: wheat;
}